:root {
  --color-primary: #00adb5;
  --color-primary-dark: #222831;
  --color-secondary-dark: #393e46;
  --color-gray: #eeeeee;
  --color-white: #ffffff;
}

body {
  font-family: sans-serif;
}

/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
} */