@import "tailwindcss";

:root {
    --color-primary: #00adb5;
    --color-primary-dark: #222831;
    --color-secondary-dark: #393e46;
    --color-gray: #eeeeee;
    --color-white: #ffffff;
}

html {
    min-height: 100%;
    background-color: var(--color-primary-dark);
}